body {
    margin: 0;
    padding: 0;
    font-family:'Georgia', Times, Times New Roman, serif;
    width: 690px;
}
nav {
    display: block;
    position: relative;
    margin: 25px 25px 25px 25px;
    background-color: white; }
    
a {
    color: black;
}

.navBar {
    position: relative;
    top: 20px;
    left: 10px;
}

.navBar-name {
    position: absolute;
    color: white;
    background-color: #4aaaa5;
    padding: 15px;
    font-size: 20px;
    left: 10px;
    top: -6px;
    width: 243px;
   
}
.navBar-links {
    position: absolute;
    right:193px;
    top: 47px;
    background-color: white;
    font-size: 26px;
    color: darkgray
    }
.main {
        width: 690px;
        padding: 100px;
        margin: auto;
        background-color: white;
        color: #4aaaa5;
        position: absolute;
        
    }
body {
    background-image: url('../images/upfeathers.png');
    background-repeat: repeat;
}

img {
    margin: 0 25px 0 0;
    height: 200px;
    width: 200px;
    position:absolute;
    top:72px;
    left: 50px;
}
.container {
    width: 960px;
    
}
.banner {
    width: 978px;
    height: 148px;
    position: relative;
    top: 12px;
    left: 47px;
    border-bottom: solid 5px darkgray;

}
.main {
    position: relative;
    display: block;
    top: 17px;
    width: 779px;
    left: 46px;
    margin: 25px;
    height: 100px;

}


.about {
    position: absolute;
    top: -8px;
    left: 57px;
    font-size: 18px;
    color: #4aaaa5
}

.paragraph {
    position: absolute;
    display: block;
    right: 32px;
    bottom: 60px;
    font-size: 22px;
    color: darkgray;
    width: 600px;
}
